<!-- Generator: GNU source-highlight 3.1.8
by Lorenzo Bettini
http://www.lorenzobettini.it
http://www.gnu.org/software/src-highlite -->
<pre><tt><b><font color="#000080">&lt;?xml</font></b> <font color="#009900">version</font><font color="#990000">=</font><font color="#FF0000">"1.0"</font> <font color="#009900">encoding</font><font color="#990000">=</font><font color="#FF0000">"utf-8"</font><b><font color="#000080">?&gt;</font></b>
<b><font color="#0000FF">&lt;openbox_menu&gt;</font></b>
	<b><font color="#0000FF">&lt;menu</font></b> <font color="#009900">id</font><font color="#990000">=</font><font color="#FF0000">"root-menu"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"OpenBox 3"</font><b><font color="#0000FF">&gt;</font></b>
		<b><font color="#0000FF">&lt;separator</font></b> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Favorites"</font><b><font color="#0000FF">/&gt;</font></b>
		<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/lib/firefox/browser/chrome/icons/default/default128.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Firefox Web Browser"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;command&gt;</font></b>firefox<b><font color="#0000FF">&lt;/command&gt;</font></b>
			<b><font color="#0000FF">&lt;/action&gt;</font></b>
		<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/BlueCurveRH2/16x16/apps/gnome-monitor.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"_Xterm"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;command&gt;</font></b>xterm<b><font color="#0000FF">&lt;/command&gt;</font></b>
			<b><font color="#0000FF">&lt;/action&gt;</font></b>
		<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/BlueCurveRH2/16x16/apps/gnome-eterm.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Xfce-Terminal"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;command&gt;</font></b>xfce4-terminal<b><font color="#0000FF">&lt;/command&gt;</font></b>
			<b><font color="#0000FF">&lt;/action&gt;</font></b>
		<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/BlueCurveRH2/16x16/apps/computer.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"ThunarFM"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;execute&gt;</font></b>thunar<b><font color="#0000FF">&lt;/execute&gt;</font></b>
			<b><font color="#0000FF">&lt;/action&gt;</font></b>
		<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/BlueCurveRH2/16x16/apps/caja.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"PcmanFM"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;command&gt;</font></b>pcmanfm<b><font color="#0000FF">&lt;/command&gt;</font></b>
			<b><font color="#0000FF">&lt;/action&gt;</font></b>
		<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/actions/geany-save-all.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"MC"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;execute&gt;</font></b>xterm -e mc<b><font color="#0000FF">&lt;/execute&gt;</font></b>
			<b><font color="#0000FF">&lt;/action&gt;</font></b>
		<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;separator</font></b> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Applications"</font><b><font color="#0000FF">/&gt;</font></b>
		<b><font color="#0000FF">&lt;menu</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/categories/scalable/applications-accessories.svg"</font> <font color="#009900">id</font><font color="#990000">=</font><font color="#FF0000">"Accessories"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Accessories"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/keepassx.svgz"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"KeePassX"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>keepassx<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/apps/accessories-calculator.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Calculator"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>gnome-calculator<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/48x48/apps/xarchiver.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Xarchiver"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>xarchiver <b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/Adwaita/48x48/legacy/edit-find.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Application Finder"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>xfce4-appfinder<b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/Adwaita/48x48/legacy/applets-screenshooter.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Screenshot"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>xfce4-screenshooter<b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;/menu&gt;</font></b>
		<b><font color="#0000FF">&lt;menu</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/categories/scalable/multimedia_section.svg"</font> <font color="#009900">id</font><font color="#990000">=</font><font color="#FF0000">"multimedia"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Multimedia"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/16x16/apps/vlc.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"VLC media player"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>vlc<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/16x16/apps/smplayer.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"SMplayer"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>smplayer<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/xfce4-pulseaudio-plugin.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Pulse Audio Control"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>pavucontrol<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/audacious.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Audacious"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>audacious<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/Adwaita/48x48/mimetypes/application-x-executable.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Xfmpc"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>xfmpc<b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/status/multimedia-player.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"MOC Player"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>xterm -e mocp<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/48x48/apps/parole.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Parole Media Player"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>parole <b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;/menu&gt;</font></b>
		<b><font color="#0000FF">&lt;menu</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/BlueCurveRH2/16x16/apps/applications-graphics.png"</font> <font color="#009900">id</font><font color="#990000">=</font><font color="#FF0000">"Graphics"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Graphics"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/apps/gnome-gimp.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"GIMP"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>gimp <b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/48x48/apps/ristretto.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Ristretto Image Viewer"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>ristretto <b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/categories/scalable/applications-viewers.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Viewnior Image Viewer"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>Viewnior <b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/categories/scalable/applications-drawing.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Bitmap draw"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>bitmap <b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;/menu&gt;</font></b>
		<b><font color="#0000FF">&lt;menu</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/categories/scalable/applications-internet.svg"</font> <font color="#009900">id</font><font color="#990000">=</font><font color="#FF0000">"Internet"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Network"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/lib/firefox/browser/chrome/icons/default/default128.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Firefox Web Browser"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>firefox <b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/apps/chromium.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Chromium"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>chrome<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/apps/thinderbird-icon.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Thunderbird"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>thunderbird<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/1200px-NetSurf-logo.svg.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Netsurf Browser"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>netsurf-gtk<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/org.remmina.Remmina.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Remmina RDP"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>remmina<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/status/qbittorrent-tray.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Qbittorrent"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>qbittorrent<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/wireshark.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Wireshark"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>wireshark<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/zenmap.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Zenmap"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>zenmap<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;/menu&gt;</font></b>
		<b><font color="#0000FF">&lt;menu</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/categories/scalable/applications-office.svg"</font> <font color="#009900">id</font><font color="#990000">=</font><font color="#FF0000">"Office"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Office"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/libreoffice-calc.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Libre Office Calc"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>localc<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/libreoffice-base.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Libre Office Base"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>lobase<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/libreoffice-impress.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Libre Office Impress"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>loimpress<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/libreoffice-draw.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Libre Office Draw"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>lodraw<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/libreoffice-math.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Libre Office Math"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>lomath<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/libreoffice-writer.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Libre Office Writer"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>lowriter<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/apps/evince.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Evince"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>evince<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/xfce4-dict.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Dictionary"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>xfce4-dict<b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;/menu&gt;</font></b>
		<b><font color="#0000FF">&lt;menu</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/categories/scalable/applications-development.svg"</font> <font color="#009900">id</font><font color="#990000">=</font><font color="#FF0000">"development"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Development"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/16x16/apps/kdiff3.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Kdiff 3"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>kdiff3<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/48x48/apps/glade.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Glade"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>glade <b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/Adwaita/48x48/legacy/accessories-text-editor.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Mousepad"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>mousepad <b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/48x48/apps/geany.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Geany"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>geany <b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/Adwaita/48x48/mimetypes/application-x-executable.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Devhelp"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>devhelp<b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;/menu&gt;</font></b>
		<b><font color="#0000FF">&lt;menu</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/categories/scalable/package_settings.svg"</font> <font color="#009900">id</font><font color="#990000">=</font><font color="#FF0000">"System"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"System"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;menu</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/redshift.svg"</font> <font color="#009900">id</font><font color="#990000">=</font><font color="#FF0000">"System-87825"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Display Temperature"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/mercury.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Mercury"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
						<b><font color="#0000FF">&lt;execute&gt;</font></b>sct 8000<b><font color="#0000FF">&lt;/execute&gt;</font></b>
					<b><font color="#0000FF">&lt;/action&gt;</font></b>
				<b><font color="#0000FF">&lt;/item&gt;</font></b>
				<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/venus.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Venus"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
						<b><font color="#0000FF">&lt;execute&gt;</font></b>sct 7000<b><font color="#0000FF">&lt;/execute&gt;</font></b>
					<b><font color="#0000FF">&lt;/action&gt;</font></b>
				<b><font color="#0000FF">&lt;/item&gt;</font></b>
				<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/earth.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Earth"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
						<b><font color="#0000FF">&lt;execute&gt;</font></b>sct<b><font color="#0000FF">&lt;/execute&gt;</font></b>
					<b><font color="#0000FF">&lt;/action&gt;</font></b>
				<b><font color="#0000FF">&lt;/item&gt;</font></b>
				<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/Mars.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Mars"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
						<b><font color="#0000FF">&lt;execute&gt;</font></b>sct 4500<b><font color="#0000FF">&lt;/execute&gt;</font></b>
					<b><font color="#0000FF">&lt;/action&gt;</font></b>
				<b><font color="#0000FF">&lt;/item&gt;</font></b>
				<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/jupiter.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Jupiter"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
						<b><font color="#0000FF">&lt;execute&gt;</font></b>sct 3800<b><font color="#0000FF">&lt;/execute&gt;</font></b>
					<b><font color="#0000FF">&lt;/action&gt;</font></b>
				<b><font color="#0000FF">&lt;/item&gt;</font></b>
				<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/saturn.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Saturn"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
						<b><font color="#0000FF">&lt;execute&gt;</font></b>sct 2500<b><font color="#0000FF">&lt;/execute&gt;</font></b>
					<b><font color="#0000FF">&lt;/action&gt;</font></b>
				<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;/menu&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/apps/gnome-color-browser.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Change GTK look"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>lxappearance<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/48x48/apps/Thunar.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Bulk Rename"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>/usr/local/lib/Thunar/ThunarBulkRename <b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/pixmaps/htop.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Htop"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>xfce4-terminal -x <b><font color="#000080">&amp;quot;</font></b>htop<b><font color="#000080">&amp;quot;</font></b> <b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/Adwaita/48x48/mimetypes/application-x-executable.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Task Manager"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>xfce4-taskmanager<b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/apps/tint2conf.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Tint2 Settings"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>tint2conf<b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;/menu&gt;</font></b>
		<b><font color="#0000FF">&lt;separator</font></b> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"System"</font><b><font color="#0000FF">/&gt;</font></b>
		<b><font color="#0000FF">&lt;menu</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/categories/scalable/applications-electronics.svg"</font> <font color="#009900">id</font><font color="#990000">=</font><font color="#FF0000">"system-commnds"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"System commands"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/BlueCurveRH2/16x16/apps/desktop.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Desktop preferences"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>/usr/local/bin/pcmanfm --desktop-pref<b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/BlueCurveRH2/16x16/apps/display-capplet.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Display Resolution"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>xfce4-display-settings<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/hicolor/scalable/status/video-display.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Aranrd"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>arandr<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;separator/&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/categories/scalable/applications-libraries.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Openbox Menu configuration"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>obmenu<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/categories/scalable/applications-painting.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Openbox configuration manager"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;command&gt;</font></b>obconf<b><font color="#0000FF">&lt;/command&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/apps/xfce4-mcs-manager.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Reload Openbox configs(W-F11)"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Reconfigure"</font><b><font color="#0000FF">/&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;/menu&gt;</font></b>
		<b><font color="#0000FF">&lt;separator/&gt;</font></b>
		<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/apps/gnome-searchtool.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Search"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;execute&gt;</font></b>pcmanfm -f<b><font color="#0000FF">&lt;/execute&gt;</font></b>
			<b><font color="#0000FF">&lt;/action&gt;</font></b>
		<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/BlueCurveRH2/24x24/stock/gtk-execute.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Run"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;execute&gt;</font></b>rofi -show run<b><font color="#0000FF">&lt;/execute&gt;</font></b>
			<b><font color="#0000FF">&lt;/action&gt;</font></b>
		<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;separator/&gt;</font></b>
		<b><font color="#0000FF">&lt;menu</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/BlueCurveRH2/16x16/stock/panel-lockscreen.png"</font> <font color="#009900">id</font><font color="#990000">=</font><font color="#FF0000">"power-commnds"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Power"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/actions/scalable/xfce-system-lock.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Lock"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>xlock<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/actions/scalable/xfsm-suspend.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Sleep"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;prompt&gt;</font></b>Enter sleep mode?<b><font color="#0000FF">&lt;/prompt&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>/usr/sbin/apm -S<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/actions/scalable/xfsm-reboot.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Suspend"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;prompt&gt;</font></b>Enter DEEP sleep mode?<b><font color="#0000FF">&lt;/prompt&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>/usr/sbin/apm -z<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/actions/scalable/xfsm-switch.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Hibernate"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;prompt&gt;</font></b>Are you sure you want to Hibernate the system?<b><font color="#0000FF">&lt;/prompt&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>/usr/sbin/apm -Z<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;/menu&gt;</font></b>
		<b><font color="#0000FF">&lt;separator/&gt;</font></b>
		<b><font color="#0000FF">&lt;menu</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/BlueCurveRH2/16x16/actions/system-shutdown.png"</font> <font color="#009900">id</font><font color="#990000">=</font><font color="#FF0000">"shutdown"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"ShutDown"</font><b><font color="#0000FF">&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/High-Delight/actions/scalable/gnome-log-out.svg"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Logout"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Exit"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;prompt&gt;</font></b>yes<b><font color="#0000FF">&lt;/prompt&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/BlueCurveRH2/16x16/apps/icon-computer-restart.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Reboot"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;prompt&gt;</font></b>Are you sure you want to reboot?<b><font color="#0000FF">&lt;/prompt&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>/sbin/shutdown -r now<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
			<b><font color="#0000FF">&lt;item</font></b> <font color="#009900">icon</font><font color="#990000">=</font><font color="#FF0000">"/usr/local/share/icons/BlueCurveRH2/16x16/actions/system-shutdown.png"</font> <font color="#009900">label</font><font color="#990000">=</font><font color="#FF0000">"Shutdown"</font><b><font color="#0000FF">&gt;</font></b>
				<b><font color="#0000FF">&lt;action</font></b> <font color="#009900">name</font><font color="#990000">=</font><font color="#FF0000">"Execute"</font><b><font color="#0000FF">&gt;</font></b>
					<b><font color="#0000FF">&lt;prompt&gt;</font></b>Are you sure you want to shutdown?<b><font color="#0000FF">&lt;/prompt&gt;</font></b>
					<b><font color="#0000FF">&lt;execute&gt;</font></b>/sbin/shutdown -p now<b><font color="#0000FF">&lt;/execute&gt;</font></b>
				<b><font color="#0000FF">&lt;/action&gt;</font></b>
			<b><font color="#0000FF">&lt;/item&gt;</font></b>
		<b><font color="#0000FF">&lt;/menu&gt;</font></b>
	<b><font color="#0000FF">&lt;/menu&gt;</font></b>
<b><font color="#0000FF">&lt;/openbox_menu&gt;</font></b>
</tt></pre>
